fieldset,
legend,
button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	border: none;
	border-radius: 0;
	margin: 0;
	outline: none;
	padding: 0;
}

input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="time"] {
	border: 1px solid #ccc;
	font-size: 16px;
	margin: 0;
	outline: none;
	padding: 4px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="search"],
input[type="number"],
input[type="datetime"],
input[type="week"],
textarea,
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	border: 1px solid #ccc;
	border-radius: 0;
	font-size: 16px;
	margin-left: 0;
	margin-right: 0;
	outline: none;
	padding: 4px;
}

textarea {
	height: 100px;
	overflow: auto;
	width: 100%;
}

select {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALJJREFUeNrslssNgCAQRCmB0ijBEuyEEijBEijBEizBEnAPy0UBWVj8JDvJJB5w3gsXVUoikXwsBrpAPdRCNcOmxi2P2yZ3cIKGU9dOCY0b590pdXhPHOyRyMEDsi4JhVIlSvBYTRGgSNTAQ+pFyyBRC7e5AdchUQt3d1fYIsEGb5Fgh1MktlFwisQwOIeE4/pGuDfhLRLscIrEMHiNxHB4SeIxeMyMPxkenyUSyT9zCDAAj5btZ4c3zaUAAAAASUVORK5CYII=");
	background-position: right 8px center;
	background-repeat: no-repeat;
	background-size: 12px 12px;
	padding-right: 30px;
}

.select {
	background: #fff;
	display: inline-block;
	overflow: hidden;
	position: relative;
}

.select select {
	background: none;
	border: 1px solid #ccc;
	cursor: pointer;
	padding-right: 24px;
	text-overflow: "";
	width: 100%;
}

.select::before {
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #666;
	content: "";
	height: 0;
	padding: 0;
	pointer-events: none;
	position: absolute;
	right: 8px;
	top: 13px;
	width: 0;
}

/* radio & checkbox */

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

input[type="radio"] + span,
input[type="checkbox"] + span {
	color: #555;
	cursor: pointer;
	display: inline-block;
	font-size: 1.4rem;
	line-height: 1;
	margin-left: 8px;
	padding: 10px 20px;
	position: relative;
	text-align: center;
}

input[type="radio"] + span::before,
input[type="checkbox"] + span::before {
	background: #fff;
	border: 1px solid #ccc;
	content: "";
	height: 16px;
	left: -8px;
	margin-top: -8px;
	position: absolute;
	top: 50%;
	width: 16px;
}

/* fieldset */

fieldset {
	border: 1px solid #ccc;
	padding: 8px 16px;
}

legend {
	padding: 0 8px;
}

/* button */

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
	-webkit-box-sizing: content-box;
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	background: #efefef;
	border: 1px solid #999;
	border-radius: 0;
	color: #000;
	cursor: pointer;
	display: inline-block;
	font-size: 20px;
	margin: 0;
	padding: 10px 30px;
}

/* ブラウザ対策
---------------------------------------------------------------------------- */

/* Firefox */

/* IE */

select::-ms-expand {
	display: none;
}

/* webkit */

/* iOS */

input[type="submit"]::-webkit-search-decoration,
input[type=reset]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-decoration {
	display: none;
}

::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration {
	-moz-appearance: none;
	-webkit-appearance: textfield;
	-webkit-box-sizing: border-box;
	-webkit-appearance: none;
	appearance: none;
	background: none;
	border: 0;
	border-radius: 0;
	font-size: 16px;
	margin: 0;
	outline: none;
	padding: 0;
}

/* 挙動
---------------------------------------------------------------------------- */

/* hover */

input:hover,
textarea:hover,
select:hover {
	border-color: #666;
}

input[type="radio"] + span:hover,
input[type="checkbox"] + span:hover {
	color: #000;
}

input[type="radio"] + span:hover::before,
input[type="checkbox"] + span:hover::before {
	border-color: #000;
}

input[type="radio"] + span:hover::after,
input[type="checkbox"] + span:hover::after {
	background: #ccc;
	content: "";
	height: 8px;
	left: -4px;
	margin-top: -4px;
	position: absolute;
	top: 50%;
	width: 8px;
}

/* checked */

input[type="radio"]:checked + span,
input[type="checkbox"]:checked + span {
	color: #C0EAF9;
}

input[type="radio"]:checked + span::before,
input[type="checkbox"]:checked + span::before {
	border-color: #C0EAF9;
}

input[type="radio"]:checked + span::after,
input[type="checkbox"]:checked + span::after {
	background: #C0EAF9;
	content: "";
	height: 8px;
	left: -4px;
	margin-top: -4px;
	position: absolute;
	top: 50%;
	width: 8px;
}

/* radio */

input[type="radio"] + span::before,
input[type="radio"] + span:hover::after,
input[type="radio"]:checked + span::after {
	border-radius: 50%;
}

/* button */

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover {
	background: #C0EAF9;
	border-color: #C0EAF9;
	color: #fff;
}

/* focus */

input:focus,
textarea:focus {
	border-color: #C0EAF9;
}

input[type="submit"]:focus,
input[type=reset]:focus,
input[type="button"]:focus,
input[type="search"]:focus {
	outline-offset: -2px;
}

/* disabled */

input:disabled,
input:disabled:hover,
textarea:disabled,
textarea:disabled:hover {
	background: #eee;
	border-color: #ccc;
	cursor: not-allowed;
}

input[type="radio"]:disabled + span,
input[type="checkbox"]:disabled + span {
	color: #ccc;
	cursor: not-allowed;
}

input[type="radio"]:disabled + span::before,
input[type="checkbox"]:disabled + span::before {
	border-color: #ccc;
	cursor: not-allowed;
}

/* バリデーション */

/* placeholder */

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* リキッドレイアウト対応 */

html {
	font-size: 4.26667vw;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #fff;
	background-color: #F8F5F2;
	color: #333;
	font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.6;
	min-height: 100vh;
	min-height: -webkit-fill-available;
	overflow-wrap: break-word;
	position: relative;
	z-index: -9999;
}

/* Box sizing rules */

*,
*::before,
*::after {
	box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	border: 0;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}

img {
	border: none;
	height: auto;
	max-width: 100%;
	vertical-align: top;
}

video,
iframe,
object {
	border: none;
	height: auto;
	max-width: 100%;
}

ul,
ol {
	list-style: none;
}

table {
	border: 1px solid;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
	width: 100%;
}

th,
td {
	border: 1px solid;
	padding: 4px 6px;
	text-align: left;
	vertical-align: top;
}

blockquote,
q {
	quotes: none;
}

blockquote::after,
blockquote::before,
q::after,
q::before {
	content: "";
	content: none;
}

address {
	font-style: normal;
}

b,
strong {
	font-weight: 700;
}

form {
	margin: 0;
	padding: 0;
}

label {
	display: inline-block;
}

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
	touch-action: manipulation;
}

input,
button,
select,
optgroup,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	margin: 0;
}

button,
select {
	text-transform: none;
}

select {
	cursor: pointer;
}

textarea {
	-ms-overflow-style: scrollbar;
	overflow: auto;
	resize: vertical;
}

dialog {
	background-color: inherit;
	border: solid;
	color: inherit;
	display: block;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	left: 0;
	margin: auto;
	padding: 1em;
	position: absolute;
	right: 0;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}

dialog:not([is-open]) {
	display: none;
}

summary {
	cursor: pointer;
	display: list-item;
}

/* Remove all animations and transitions for people that prefer not to see them */

.l-inner {
	height: inherit;
	margin: 0 auto;
	max-width: 1050px;
	padding-left: 25px;
	padding-right: 25px;
	width: 100%;
}

.btn {
	background-color: #FFE7C0;
	border-radius: 1.5625rem;
	display: block;
	font-size: 1.125rem;
	font-weight: bold;
	line-height: 3.125rem;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 13.75rem;
}

.category {
	margin-left: auto;
	margin-right: auto;
	max-width: 69.375rem;
	padding: 3.75rem 0.9375rem;
	width: 100%;
}

.category__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 2.5rem;
}

.category__item {
	margin-right: 0.9375rem;
	width: 10rem;
}

.category__item:last-child {
	margin-right: 0;
}

.category__image {
	display: block;
	height: auto;
	width: 100%;
}

.category__image img {
	height: 100%;
	width: 100%;
}

.complete {
	margin-left: auto;
	margin-right: auto;
	max-width: 50rem;
	min-height: 100vh;
	padding: 3.75rem 0.9375rem;
	width: 100%;
}

.complete__title {
	font-size: 1.375rem;
	font-weight: bold;
	text-align: center;
}

.complete__text {
	font-size: 1rem;
	font-weight: bold;
	margin-top: 3.75rem;
	text-align: center;
}

.complete__btnWrap {
	margin-top: 5rem;
}

.section-contact {
	margin-left: auto;
	margin-right: auto;
	max-width: 34.375rem;
	min-height: 100vh;
	padding: 3.75rem 0.9375rem;
	width: 100%;
}

.section-contact__list {
	margin-top: 2.5rem;
}

.section-contact__item {
	margin-top: 1.25rem;
}

.section-contact__label {
	font-size: 1rem;
	font-weight: bold;
}

.section-contact__input {
	width: 100%;
}

.section-contact__input input {
	background-color: #fff;
	border: none;
	border-radius: 0.625rem;
	width: 100%;
}

.section-contact__textarea {
	width: 100%;
}

.section-contact__textarea textarea {
	background-color: #fff;
	border: none;
	border-radius: 0.625rem;
	width: 100%;
}

.section-contact__submitWrap {
	margin-top: 3.75rem;
}

.section-contact__submitWrap input {
	background-color: #FFE7C0;
	border: none;
	border-radius: 1.875rem;
	display: block;
	font-size: 1rem;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	transition: all .3s;
	width: 12.5rem;
}

.footer {
	background-color: #fff;
	margin-top: 3.75rem;
	width: 100%;
}

.footer__inner {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
	max-width: 69.375rem;
	padding: 0.625rem 0.9375rem;
	width: 100%;
}

.footer__navList {
	display: flex;
}

.footer__navItem {
	font-size: 0.875rem;
	font-weight: bold;
	margin-right: 1.5625rem;
}

.footer__navItem:last-child {
	margin-right: 0;
}

.footer__copyright {
	font-size: 0.625rem;
}

.header {
	background-color: #fff;
	width: 100%;
}

.header__image {
	height: auto;
	width: 100%;
}

.header__image img {
	height: 100%;
	width: 100%;
}

.header__content {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
	max-width: 69.375rem;
	padding: 0.625rem 0.9375rem;
	width: 100%;
}

.header__search {
	background-color: #F8F5F2;
	border-radius: 0.625rem;
	height: 2.5rem;
	position: relative;
	width: 28.75rem;
}

.header__search::before {
	background-image: url(../img/search.png);
	background-repeat: no-repeat;
	background-size: cover;
	content: '';
	height: 3.125rem;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 3.125rem;
}

.header__search form {
	height: 100%;
	width: 100%;
}

.header__search form input {
	border: none;
	height: 100%;
	padding-left: 3.75rem;
	width: 100%;
}

.header__navList {
	display: flex;
}

.header__navItem {
	border-radius: 0.9375rem;
	font-size: 1rem;
	font-weight: bold;
	margin-right: 1.5625rem;
	padding-left: 0.4375rem;
	padding-right: 0.4375rem;
}

.header__navItem:last-child {
	margin-right: 0;
}

.header__navItem.home {
	background-color: #FFDADF;
}

.header__navItem.rule {
	background-color: #FFE7C0;
}

.header__navItem.profile {
	background-color: #DDF9C0;
}

.header__navItem.contact {
	background-color: #C0EAF9;
}

.illust {
	margin-left: auto;
	margin-right: auto;
	max-width: 69.375rem;
	padding: 3.75rem 0.9375rem;
	width: 100%;
}

.illust__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: -2.5rem;
	margin-top: 2.5rem;
	width: 100%;
}

.illust__item {
	display: block;
	margin-bottom: 2.5rem;
	margin-right: 1.875rem;
	width: 14.375rem;
}

.illust__item:nth-of-type(4n) {
	margin-right: 0;
}

.illust__image {
	height: auto;
	width: 100%;
}

.illust__image img {
	height: 100%;
	width: 100%;
}

.illust__title {
	font-size: 1.125rem;
	font-weight: bold;
	margin-top: 0.625rem;
}

.illust__btnWrap {
	margin-top: 5rem;
}

.section-profile {
	margin-left: auto;
	margin-right: auto;
	max-width: 50rem;
	padding: 3.75rem 0.9375rem;
	width: 100%;
}

.section-profile__image {
	height: auto;
	margin-top: 2.5rem;
	width: 14.375rem;
}

.section-profile__image img {
	height: 100%;
	width: 100%;
}

.section-profile__list {
	list-style: circle;
	margin-top: 1.25rem;
	padding-left: 1.25rem;
}

.section-profile__item {
	margin-top: 1.25rem;
}

.section-profile__item h2 {
	border-bottom: 0.125rem solid #FFE7C0;
	display: inline-block;
	font-size: 1.25rem;
}

.section-profile__item p {
	font-size: 1.125rem;
	margin-top: 0.625rem;
}

.section-profile__item:first-child {
	margin-top: 0;
}

.section-profile__btnWrap {
	margin-top: 5rem;
}

.section-rule {
	margin-left: auto;
	margin-right: auto;
	max-width: 50rem;
	min-height: 100vh;
	padding: 3.75rem 0.9375rem;
	width: 100%;
}

.section-rule__list {
	list-style: circle;
	margin-top: 2.5rem;
	padding-left: 1.25rem;
}

.section-rule__item {
	font-size: 1rem;
	margin-top: 1.25rem;
}

.section-rule__item:first-child {
	margin-top: 0;
}

.section-rule__btnWrap {
	margin-top: 5rem;
}

.section-heading {
	font-size: 1.375rem;
	font-weight: bold;
	padding-left: 2.5rem;
	position: relative;
}

.section-heading::before {
	background-image: url(../img/pencil.png);
	background-repeat: no-repeat;
	background-size: cover;
	content: '';
	height: 2.5rem;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 2.5rem;
}

.sns {
	margin-left: auto;
	margin-right: auto;
	max-width: 69.375rem;
	padding: 3.75rem 0.9375rem;
	width: 100%;
}

.sns__list {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-bottom: -0.625rem;
	margin-top: 2.5rem;
}

.sns__item {
	margin-right: 2.5rem;
	width: 25.3125rem;
}

.sns__item:last-child {
	margin-right: 0;
}

.sns__image {
	display: block;
	height: auto;
	width: 100%;
}

.sns__image img {
	height: 100%;
	width: 100%;
}

@media (prefers-reduced-motion: reduce) {

html:focus-within {
	scroll-behavior: auto;
}

*,
*::before,
*::after {
	-webkit-animation-duration: 0.01ms !important;
	-webkit-animation-iteration-count: 1 !important;
	animation-duration: 0.01ms !important;
	animation-iteration-count: 1 !important;
	scroll-behavior: auto !important;
	transition-duration: 0.01ms !important;
}

}

@media (min-width: 1000px) {

html {
	font-size: 16px;
}

}

@media screen and (max-width: 1023px) {

html {
	font-size: 1.6vw;
}

.l-inner {
	max-width: 33.75rem;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
}

.illust__item {
	width: 11.25rem;
}

}

@media screen and (max-width: 767px) {

html {
	font-size: 16px;
}

.category__list {
	margin-top: 1.25rem;
}

.category__item:nth-of-type(2n) {
	margin-right: 0;
}

.complete__title {
	font-size: 1.125rem;
}

.footer__inner {
	flex-direction: column;
}

.footer__copyright {
	margin-top: 0.9375rem;
}

.header__content {
	flex-direction: column-reverse;
	padding: 0.9375rem;
}

.header__search {
	margin-top: 0.9375rem;
	width: 100%;
}

.header__navItem {
	font-size: 0.875rem;
	margin-right: 0.5rem;
}

.illust__list {
	margin-top: 1.25rem;
}

.illust__item {
	margin-bottom: 1.875rem;
	margin-right: 1.5625rem;
	width: 9.375rem;
}

.illust__item:nth-of-type(2n) {
	margin-right: 0;
}

.illust__title {
	font-size: 0.875rem;
}

.section-heading {
	font-size: 1.125rem;
}

.sns__list {
	flex-direction: column;
	margin-top: 1.25rem;
}

.sns__item {
	margin-bottom: 0.625rem;
	margin-right: 0;
	width: 19.6875rem;
}

}

